# ==============================
# LOCAL CONFIGURATION
# ==============================
config.py
.env
.env.*

# ==============================
# DATASETS
# ==============================
*.mgz
*.wav
*.mp3
*.cha
*.npy
*.xlsx
*.xls

OASIS_dis/
ADReSS-IS2020-train/

# ==============================
# MODEL FILES
# ==============================
*.pkl
*.pth
*.pt
*.h5
*.joblib

cnn_embeddings_raw.npy
cnn_mri_ids.npy

# ==============================
# PYTHON
# ==============================
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# ==============================
# VIRTUAL ENVIRONMENTS
# ==============================
venv/
.venv/
env/

# ==============================
# LOGS
# ==============================
*.log
*.tmp

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# OS FILES
# ==============================
.DS_Store
Thumbs.db